@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-cherry{
    background-color: #E63946;
}
.bg-grey{
    background-color: #F1FAEE;
}
.bg-black{
    background-color: #2B2D42;
}
.color-black{
    color: #2B2D42;
}
.color-cherry{
    color: #E63946;
}
 h1{
    font-size: 60px;
    text-shadow: 2px 2px #2B2D42;
 }

.text-bangers{
    font-family: "Bangers", system-ui;
    font-weight: 400;
    font-style: normal;
}

.text-lato{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.text-mono{
    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-style: normal;
}
.btn-roll{
    background-color: #2B2D42;
    color: #E63946;
    border-radius: 14px;
    font-size: 35px;
    padding: 8px 30px;
    border: 0;
    
}

.btn-roll:hover{
    background-color: #E63946;
    color: #2B2D42;
}
.btn-roll:active{
    background-color:  #cc313e;
    color: #171824;
    
}


@keyframes rollDice {
    from { transform: rotateX(0deg) rotateY(0deg); }
    to { transform: rotateX(720deg) rotateY(720deg); }
}

.dice {
    width: 150px;
    height: 150px;
    background-image: url('../img/1.png'); 
    background-color: #E63946;
    background-size: cover;
    background-position: center;
    border-radius: 26px;
    animation: none;
    margin: auto;
    transform-style: preserve-3d; 
    transition: background-image 0.3s ease; 
}

.roll {
    animation: rollDice 3s ease-out;
}

